node_modules/
dist/
.env
.env.*
!.env.example
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
*.apk
*.aab


# Local backup files
*.bak-*
*.backup-*

.env
.env.*
!.env.example
